.container {
    margin: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .button {
    flex-grow: 1;
    margin: 5px;
    padding: 8px 16px;
    background-color: #000000;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid black;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    background-color: #ec0d0d;
    border: 1px solid #ff0101;
    border-radius: 4px;
    padding: 25px;
    position: absolute;
    z-index: 1;
  }