body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(31, 31, 31);
  text-align: center;
  overflow-x: hidden; 
  
}

.title {
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 46px; /* Cambiar el tamaño del título */
  color: rgb(165, 17, 17);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 20px;
}
.home {
  margin-top: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px; /* Ajusta el ancho según sea necesario */
}

.pagination button {
  padding: 8px 16px;
  background-color: #560404; /* Cambia el color de fondo según sea necesario */
  color: white; /* Cambia el color del texto según sea necesario */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.pagination button:hover {
  padding: 8px 16px;
  background-color: #000000; /* Cambia el color de fondo según sea necesario */
  color: rgb(255, 255, 255); /* Cambia el color del texto según sea necesario */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc; /* Cambia el color de fondo del botón deshabilitado según sea necesario */
  color: #666; /* Cambia el color del texto del botón deshabilitado según sea necesario */
  cursor: not-allowed;
}

.pagination span {
  display: flex;
  font-weight: bold;
  margin: 15px;
  color: #ffffff;
}
.categoryContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.category {
  position: relative;
  width: 200px; /* Establece un ancho fijo para todos los contenedores */
  height: 200px; /* Establece una altura fija para todos los contenedores */
  padding: 10px; /* Ajusta el relleno según sea necesario */
  background-image: url('../../../public/juegos.png');
  background-size: cover;
  border: 2px solid rgb(102, 19, 19);
  border-radius: 4px;
  margin: 25px;
  transition: transform 0.3s ease;
  overflow: hidden;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: large;
  color: #999999;
}

.category:hover {
  transform: scale(1.1); /* Cambia la escala al 110% del tamaño original */
}

.categoryPc{
  position: relative;
  width: 200px; /* Establece un ancho fijo para todos los contenedores */
  height: 200px; /* Establece una altura fija para todos los contenedores */
  padding: 10px; /* Ajusta el relleno según sea necesario */
  background-image: url('../../../public/PC.jpg');
  background-size: cover;
  border: 2px solid rgb(102, 19, 19);
  border-radius: 4px;
  margin: 25px;
  transition: transform 0.3s ease;
  overflow: hidden;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: large;
  color: #999999;
}

.categoryPc:hover {
  transform: scale(1.1); /* Cambia la escala al 110% del tamaño original */
}
.categoryAudio{
  position: relative;
  width: 200px; /* Establece un ancho fijo para todos los contenedores */
  height: 200px; /* Establece una altura fija para todos los contenedores */
  padding: 10px; /* Ajusta el relleno según sea necesario */
  background-image: url('../../../public/jblplaya.jpg');
  background-size: cover;
  border: 2px solid rgb(102, 19, 19);
  border-radius: 4px;
  margin: 25px;
  transition: transform 0.3s ease;
  overflow: hidden;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: large;
  color: #999999;
}

.categoryAudio:hover {
  transform: scale(1.1); /* Cambia la escala al 110% del tamaño original */
}


.categoryNotebook{
  position: relative;
  width: 200px; /* Establece un ancho fijo para todos los contenedores */
  height: 200px; /* Establece una altura fija para todos los contenedores */
  padding: 10px; /* Ajusta el relleno según sea necesario */
  background-image: url('../../../public/noteeb.jpg');
  background-size: cover;
  border: 2px solid rgb(102, 19, 19);
  border-radius: 4px;
  margin: 25px;
  transition: transform 0.3s ease;
  overflow: hidden;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: large;
  color: #999999;
}

.categoryNotebook:hover {
  transform: scale(1.1); /* Cambia la escala al 110% del tamaño original */
}


.categoryContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.category, .categoryPc, .categoryAudio, .categoryNotebook {
  position: relative;
  width: 200px; /* Establece un ancho fijo para todos los contenedores */
  height: 200px; /* Establece una altura fija para todos los contenedores */
  padding: 10px; /* Ajusta el relleno según sea necesario */
  border: 2px solid rgb(120, 12, 12);
  border-radius: 4px;
  margin: 25px;
  transition: transform 0.3s ease;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: large;
  color: #ffffff;
  background-size: cover; /* Ajusta el tamaño de la imagen de fondo */
}

.category:hover, .categoryPc:hover, .categoryAudio:hover, .categoryNotebook:hover {
  transform: scale(1.1); /* Cambia la escala al 110% del tamaño original */
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
  .title {
    font-size: 36px;
  }

  .home {
    margin-top: 50px;
  }

  .categoryContainer {
    flex-direction: column;
    align-items: center;
  }

  .category, .categoryPc, .categoryAudio, .categoryNotebook {
    width: 100%; /* Ajusta el ancho para adaptarse a pantallas más pequeñas */
    height: 120px; /* Permite que la altura se ajuste automáticamente según el contenido */
    margin: 15px auto; /* Centra los elementos */
    background-size: cover; /* Ajusta el tamaño de la imagen de fondo */
    background-repeat: no-repeat;
  }
}
